.user-tutorial:not(.custom){
    max-width: 100%;
}

.user-tutorial:not(.custom) img:not(.logo):not(.diagram) {
    box-shadow: 0 0 3px 0px rgba(0,0,0,.3);
    border-radius: 5px;
}

.user-tutorial:not(.custom) img.program:not(.logo):not(.inline) {
    padding: 1ex;
}

.user-tutorial:not(.custom) img.inline:not(.logo) {
    vertical-align: middle;
    box-shadow: none;
}
